<header>
    <div class="logo-container">
        <img src="logo.png" alt="">
    </div>
    <mat-form-field class="search-container">
        <input matInput type="text" [(ngModel)]="value">
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>search</mat-icon>
        </button>
        }
    </mat-form-field>
    <div class="user-container" (click)="openDialog('0ms', '0ms')">
        <div>
            <span class="standard-transition"> {{channelService.currentUser?.name}} </span>
        </div>
        <div class="avatar-container">
            <img *ngIf="channelService?.currentUser?.avatar" [src]="'/avatar/' + channelService.currentUser?.avatar">
            <img class="status-img" src="{{ channelService.currentUser?.active ? onlineUser : offlineUser }}" alt="">
        </div>
        <div>
            <mat-icon class="arrow-down">keyboard_arrow_down</mat-icon>
        </div>
    </div>
</header>