@import './../../../styles.scss';

header {
    width: 100%;
    height: 70px;
    @include dFlex(space-between, center);
}

::ng-deep .mat-mdc-text-field-wrapper {
    --mdc-filled-text-field-container-color: white;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    border-radius: 42px;
}

.logo-container {
    padding-left: 45px
}

.search-container {
    height: 100%;
    @include dFlex(unset, center);
}

.user-container {
    @include dFlex();
    gap: 20px;
    padding-right: 35px;
    min-width: 342px;

    >div {
        >span {
            font-size: 32px;
            color: black;
            cursor: default;
        }
    }
}

mat-form-field {
    width: 100%;
    padding-left: 114px;
    padding-right: 149px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 45px !important;
    padding-left: 45px;
}

mat-icon {
    width: 35px;
    height: 35px;
}

.avatar-container {
    >img {
        height: 70px;
        width: 70px;
        border-radius: 42px;
    }
}

.arrow-down {
    cursor: pointer;
}