<div class="create-channel-main-content">
    <div class="create-channel-header">
        <span>Channel erstellen</span>
        <div class="close-icon">
           <mat-icon (click)="closeAndResetDialog()">close</mat-icon> 
        </div>
    </div>
    <p>
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein <br> #marketing zum Beispiel.
    </p>
    <p class="margin-24">Channel Name</p>
    <input class="input-channel-name" (input)="checkChannelName()" [(ngModel)]="newChannel.channelname" 
        placeholder="# z.B Kooperationsprojekte" 
        required 
        [ngClass]="{'nameExist': nameExist}"/>
    <div class="exist-text" *ngIf="nameExist">Der Channel existiert bereits. Wähle bitte einen anderen Namen.</div>
    <p>Beschreibung<span class="text-optional"> (optional)</span></p>
    <input class="input-channel-name" [(ngModel)]="newChannel.description" placeholder="Dein Text hier"/>
    <mat-dialog-actions>
        <div class="create-channel-btn-cont mobile">
            <button 
                class="create-channel-btn"
                (click)="createChannel()"  
                [disabled]="!isEnabled" 
                [ngClass]="{'btn-enabled': isEnabled, 'btn-disabled': !isEnabled}">Erstellen</button>
        </div>
         <div class="create-channel-btn-cont desktop">
            <button 
                class="create-channel-btn"
                (click)="createChannelMobile()"  
                [disabled]="!isEnabled" 
                [ngClass]="{'btn-enabled': isEnabled, 'btn-disabled': !isEnabled}">Erstellen</button>
        </div>
    </mat-dialog-actions>
</div>