<div class="write-message-container" (click)="hideUserMentionList()">
    <form class="example-form">
        <div class="mention-container" *ngIf="showUserList || showChanelList || chatService.showEmojis">
            <div *ngIf="showUserList">
                <div class="user-chanel-list-container" *ngFor="let user of users$ | async; let index = index"
                    (click)="selecetedUserMention(user, index)">
                    <div>
                        <img class="user-logo" src="avatar/{{user.avatar}}" alt="">
                        <img class="status-img" src="{{ user.active ? onlineUser : offlineUser }}" alt="">
                    </div>
                    <div>{{user.name}}</div>
                </div>
            </div>
            <div *ngIf="showChanelList">
                <div *ngFor="let channel of channelService.showChannelByUser$ | async; let index = index"
                    (click)="selecetedChannelMention(channel, index)">
                    <div class="user-chanel-list-container" *ngIf="showChanelList">
                        <p>#</p>
                        <span>{{channel.channelname}}</span>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="chatService.showEmojis">
                    <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>
            </div>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Starte eine neue Nachricht</mat-label>
            <input matInput [(ngModel)]="messageText" (input)="onInputChange()" name="message"
                (keyup.enter)="sendMessage()">
            <div class="icons-container standard-transition">
                <div>
                    <div (click)="showAllEmojis($event)">
                        <img [src]="imgSrcReaction" (mouseover)="imgSrcReaction = 'add_reaction_color.png'"
                            (mouseout)="imgSrcReaction = 'add reaction.png'">
                    </div>
                    <div (click)="userMention($event)">
                        <img [src]="imgSrcMention" (mouseover)="imgSrcMention = 'mention_color.png'"
                            (mouseout)="imgSrcMention = 'mention.png'">
                    </div>
                </div>
                <div class="send-icon-container" (click)="sendMessage()">
                    <img src="send.png">
                </div>
            </div>
        </mat-form-field>
    </form>
</div>