<div class="write-message-container">
    <form class="example-form">
        <div class="mention-container" *ngIf="showUserList || showChanelList || showEmojis">
            <div *ngIf="showUserList">
                <div class="user-chanel-list-container" *ngFor="let user of users$ | async; let index = index"
                    (click)="selecetedUserMention(user, index)">
                    <div>
                        <img class="user-logo" src="avatar/{{user.avatar}}" alt="">
                    </div>
                    <div>{{user.name}}</div>
                </div>
            </div>
            <div *ngIf="showChanelList">
                <div *ngFor="let channel of channelService.showChannelByUser$ | async; let index = index"
                    (click)="selecetedChannelMention(channel, index)">
                    <div class="user-chanel-list-container" *ngIf="showChanelList">
                        <p>#</p>
                        <span>{{channel.channelname}}</span>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="showEmojis">
                    <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>
            </div>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Starte eine neue Nachricht</mat-label>
            <input matInput [(ngModel)]="messageText" (input)="onInputChange()" name="message"
                (keyup.enter)="sendMessage()">
            <div class="icons-container standard-transition">
                <div>
                    <div class="reaction-icon" (click)="showAllEmojis()">
                        <img src="add reaction.png">
                    </div>
                    <div class="mention-icon" (click)="userMention()">
                        <img src="mention.png">
                    </div>
                </div>
                <div class="send-icon-container" (click)="sendMessage()">
                    <img src="send.png">
                </div>
            </div>
        </mat-form-field>
    </form>
</div>