<div class="messages-container">
    <div class="users-message-container"
        *ngIf="message.senderId === selectedUser.userId && message.senderId !== dataUser.currentUserId">
        <div class="message-container">
            <div>
                <img class="user-logo" src="avatar/{{selectedUser.avatar}}" alt="">
            </div>
            <div class="message-info">
                <div class="user-date-container">
                    <span>{{selectedUser.name}}</span>
                    <p>{{message.timestamp?.toDate() | date:'HH:mm'}}</p>
                </div>
                <div class="message-content">
                    <h3>{{message.text}}</h3>
                </div>
                <div class="answer-date-container" (click)="chatService.answerOnMessage(message.id, message.text)">
                    <div *ngIf="message.threadCount > 0">
                        <span>{{message.threadCount}} Antwort{{message.threadCount > 1 ? 'en' : ''}}</span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-hover-options">
        <div *ngIf="mode !== 'thread'" (click)="chatService.answerOnMessage(message.id, message.text)">
            <img [src]="imgComment" (mouseover)="imgComment='img/comment_color.png'"
                (mouseout)="imgComment='img/comment.png'">
        </div>
        <div>
            <img [src]="imgReaction" (mouseover)="imgReaction='img/add_reaction_color.png'"
                (mouseout)="imgReaction='img/add_reaction.png'">
        </div>
        <div *ngFor="let emoji of chatService.mostUsedEmojis">
            <div *ngIf="chatService.mostUsedEmojis.length > 0">
                {{emoji}}
            </div>
        </div>
    </div>
</div>