<div class="messages-container">
    <div class="users-message-container"
        *ngIf="message.senderId === selectedUser.userId && message.senderId !== dataUser.currentUserId">
        <div class="message-container">
            <div>
                <img class="user-logo" src="avatar/men1.png" alt="">
            </div>
            <div class="message-info">
                <div class="user-date-container">
                    <span>{{selectedUser.name}}</span>
                    <p>{{message.timestamp?.toDate() | date:'HH:mm'}}</p>
                </div>
                <div class="message-content">
                    <h3>{{message.text}}</h3>
                </div>
                <div class="answer-date-container">
                    <div>
                        <!--                     <span>2 Antworte</span>
                    <p>Letze Antwort 14:56</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-hover-options">
        <div (mouseover)="imgComment='img/comment_color.png'" (mouseout)="imgComment='img/comment.png'">
            <img [src]="imgComment">
        </div>
        <div (mouseover)="imgReaction='img/add_reaction_color.png'" (mouseout)="imgReaction='img/add_reaction.png'">
            <img [src]="imgReaction">
        </div>
        <div>
            <img src="/emojis/emoji_thumb.png" alt="">
        </div>
        <div>
            <img src="/emojis/emoji_white heavy_check mark.png" alt="">
        </div>
    </div>
</div>