<div class="container">
  <div class="passwort-reset-wrapper">
    <div class="passwort-reset-content-width">
      <app-header-start></app-header-start>

      <div class="passwort-reset-card">
        <img class="arrow-back standard-transition" routerLink="/" src="signup/arrow-back.png" alt="arrow back">
        <h1>Passwort zurücksetzen</h1>

        <div *ngIf="tokenValid" class="form">
          <input 
            [(ngModel)]="newPassword"
            (input)="onPasswordInput()"
            [class.input-error]="showPasswordError"
            required 
            name="password" 
            class="password-input standard-transition"
            type="text" 
            placeholder="Neues Passwort">
          
          <div *ngIf="showPasswordError" class="error-message-password">
            {{ passwordErrorMessage }}
          </div>
          
          <input 
            [(ngModel)]="confirmPassword"
            (input)="onConfirmPasswordInput()"
            [class.input-error]="showConfirmPasswordError" 
            required 
            name="confirmPassword"
            class="password-input standard-transition" 
            type="text" 
            placeholder="Neues Passwort bestätigen">

          <div *ngIf="showConfirmPasswordError" class="error-message-password">
            {{ 'Die Passwörter stimmen nicht überein.' }}
          </div>
        </div>

        <div *ngIf="!tokenValid" class="error-message">
          <p>Der Reset-Link ist ungültig oder abgelaufen.</p>
          <p>Bitte fordern Sie einen neuen Link an.</p>
        </div>

        <div *ngIf="tokenValid" class="forward-button-postition">
          <button 
            (click)="resetPassword()" 
            class="forward-button standard-transition"
            [disabled]="!isFormValid()">
            Weiter
          </button>
        </div>
      </div>

      <app-footer-start></app-footer-start>
    </div>

    <div id="background-overlay" class="standard-transition">
      <mat-dialog-content>
        <span>Passwort erfolgreich zurückgesetzt</span>
      </mat-dialog-content>
    </div>
  </div>
</div>