@import "./../../../styles.scss";

.channel-main-content {
    height: 100%;
    @include dFlex(space-between, unset);
    flex-direction: column;
}

.channel-header {
    @include dFlex(space-between,center);
    font-family: 'nunito';
    font-size: 24px;
    font-weight: 700;
}

mat-icon {
    cursor: pointer;
}

mat-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.channel-headline {
    height: 114px;
}

.channel-description {
    height: 273px;
}

.mat-mdc-unelevated-button {
    width: 204px;
    height: 49px;
    background-color: #444DF2 !important; 
    color: #FFFFFF !important;
     font-family: 'nunito';
    font-size: 18px;
    font-weight: 700;
}

.leave-channel-btn {
     @include dFlex(end, unset);
}