<div class="channel-user-content">
    <div *ngIf="dataUser.showChannel" class="header-channel-content">
        <div class="button-container">
            <button #btn class="channel-btn standard-transition" (click)="openDialog(btn)">
                <span>#</span>
                @if (channelService.currentChannelName) {
                <span>{{ channelService.currentChannelName }}</span>
                } @else {
                <span>{{ channelService.userSubcollectionChannelName }}</span>
                }
                <img class="standard-transition" src="chat-section/arrow-down.png">
            </button>
        </div>
        <div class="user-avatar-channels">
            <div #div class="show-users-avatar standard-transition" (click)="showUsersInChannel(div)">
                @for (user of dataUser.userAvatarInChannel$ | async; track $index) {
                <img class="avatar" [src]="'avatar/' + user.avatar">
                }
                <span class="number-of-users">{{ (dataUser.userAvatarInChannel$ | async)?.length }}</span>
            </div>
            <span #referenceButton class="add-user-to-channel standard-transition" (click)="addUserToChannel()"></span>
        </div>
    </div>
    <div *ngIf="dataUser.showChatPartnerHeader" class="header-user-content">
        <div *ngIf="channelService.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user': selectedUser.userId !== channelService.currentUserId
                    }">
            <div class="standard-transition" (click)="openUserDialog()">
                <img class="user-logo" src="avatar/{{selectedUser.avatar}}" alt="">
                <img class="status-img" [src]="selectedUser.active ? 'status/online.png' : 'status/offline.png'" alt="">
                <h2>{{selectedUser.name}}</h2>
            </div>
        </div>
    </div>
    <div *ngIf="dataUser.showNewMessage" class="header-new-message-content">
        <h2 class="new-message-header">Neue Nachricht</h2>
        <div class="new-message-input-container">
            <input class="new-message-input standard-transition" 
                   type="text" 
                   placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
                   [(ngModel)]="newMessageSearchTerm" 
                   (input)="onNewMessageSearchInput()">
            
            <div class="search-results" *ngIf="showDropdown">
                <div *ngIf="dropdownType === 'channel'" class="dropdown-section">
                    <div class="dropdown-header">
                        <mat-icon>tag</mat-icon>
                        <span>Channels</span>
                    </div>
                    <div *ngFor="let channel of channelResults" 
                         class="search-result-item channel-item standard-transition"
                         (click)="selectChannelResult(channel)">
                        <div class="result-icon">
                            <mat-icon>tag</mat-icon>
                        </div>
                        <div class="result-content">
                            <div class="result-name"><strong>{{channel.name}}</strong></div>
                            <div class="result-description">{{channel.description}}</div>
                        </div>
                    </div>
                    <div *ngIf="channelResults.length === 0" class="no-results">
                        Keine Channels gefunden
                    </div>
                </div>

                <div *ngIf="dropdownType === 'user'" class="dropdown-section">
                    <div class="dropdown-header">
                        <mat-icon>person</mat-icon>
                        <span>Personen</span>
                    </div>
                    <div *ngFor="let user of userResults" 
                         class="search-result-item user-item standard-transition"
                         (click)="selectUserResult(dropdownType,user)">
                        <div class="result-icon">
                            <div class="avatar-wrapper">
                                <img *ngIf="user.avatar" [src]="'/avatar/' + user.avatar" class="user-avatar" alt="">
                                <div *ngIf="!user.avatar" class="default-avatar">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <img class="status-img-search"
                                     [src]="user.description === 'Online' ? 'status/online.png' : 'status/offline.png'" alt="">
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-name">{{user.name}}</div>
                        </div>
                    </div>
                    <div *ngIf="userResults.length === 0" class="no-results">
                        Keine Personen gefunden
                    </div>
                </div>

                <div *ngIf="dropdownType === 'email'" class="dropdown-section">
                    <div class="dropdown-header">
                        <mat-icon>email</mat-icon>
                        <span>E-Mail Adressen</span>
                    </div>
                    <div *ngFor="let user of emailResults" 
                         class="search-result-item email-item standard-transition"
                         (click)="selectEmailResult(user)">
                        <div class="result-icon">
                            <div class="avatar-wrapper">
                                <img *ngIf="user.avatar" [src]="'/avatar/' + user.avatar" class="user-avatar" alt="">
                                <div *ngIf="!user.avatar" class="default-avatar">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <img class="status-img-search"
                                     [src]="user.description === 'Online' ? 'status/online.png' : 'status/offline.png'" alt="">
                            </div>
                        </div>
                        <div class="result-content">
                            <div class="result-name">{{user.name}}</div>
                            <div class="result-email">{{getUserEmail(user.id)}}</div>
                        </div>
                    </div>
                    <div *ngIf="emailResults.length === 0" class="no-results">
                        Keine E-Mail Adressen gefunden
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>