@use "./../../../styles.scss" as *;

.other-user {
    .chat-info-container {
        >p {
            font-weight: 400;

            >span {
                color: #535AF1;

                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }
}

.button-container:hover img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(68%) saturate(3151%) hue-rotate(225deg) brightness(96%) contrast(91%);
}

.show-users-avatar {
    @include dFlex(center, center);
    padding: 3px 10px 3px 10px;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        background: #ECEEFE;

        .number-of-users {
            color: #535AF1;
        }
    }
}

.number-of-users {
    &:hover {
        cursor: pointer;
    }
}

.header-new-message-content {
    width: 100%;
    padding: 20px;
    .new-message-header {
        cursor: default;
    }

    .new-message-input {
        font-family: Nunito;
        color: #686868;
        width: calc(100% - 20px);
        padding: 15px 20px;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
        font-size: 18px;
        margin-top: 10px;

        &:focus {
            outline: none;
            border-color: #535AF1;
        }
    }
}

@media(max-width: 1000px) {
    .show-users-avatar {
        display: none;
    }
}