<div class="channel-user-content">
    <div *ngIf="dataUser.showChannel" class="header-channel-content">
        <div class="button-container">
            <button #btn class="channel-btn standard-transition" (click)="openDialog(btn)">
                <span>#</span>
                @if (channelService.currentChannelName) {
                <span>{{ channelService.currentChannelName }}</span>
                } @else {
                <span>{{ channelService.userSubcollectionChannelName }}</span>
                }
                <img class="standard-transition" src="chat-section/arrow-down.png">
            </button>
        </div>
        <div class="user-avatar-channels">
            <div #div class="show-users-avatar standard-transition" (click)="showUsersInChannel(div)">
                @for (user of dataUser.userAvatarInChannel$ | async; track $index) {
                <img class="avatar" [src]="'avatar/' + user.avatar"> 
                }
                <span class="number-of-users">{{ (dataUser.userAvatarInChannel$ | async)?.length }}</span>
            </div>
            <span #referenceButton class="add-user-to-channel standard-transition" (click)="addUserToChannel()"></span>
        </div>
    </div>
    <div *ngIf="dataUser.showChatPartnerHeader" class="header-user-content">
        <div *ngIf="channelService.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user': selectedUser.userId !== channelService.currentUserId
                    }">
            <div class="standard-transition" (click)="openUserDialog()">
                <img class="user-logo" src="avatar/{{selectedUser.avatar}}" alt="">
                <img class="status-img" [src]="selectedUser.active ? 'status/online.png' : 'status/offline.png'" alt="">
                <h2>{{selectedUser.name}}</h2>
            </div>
        </div>
    </div>
    <div *ngIf="dataUser.showNewMessage" class="header-user-content">
        <div class="standard-transition">
            <h2>Neue Nachricht</h2>
            <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
        </div>
    </div>
</div>