.other-user {
    .chat-info-container {
        >p {
            font-weight: 400;

            >span {
                color: #535AF1;

                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }
}

.button-container:hover img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(68%) saturate(3151%) hue-rotate(225deg) brightness(96%) contrast(91%);
}