.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 238, 254, 1);

  .privacy-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .privacy-content-width {
    width: 100%;
    max-width: 1920px !important;
    height: 100%;
  }

  .privacy-card {
    position: absolute;
    width: 25vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    z-index: 5;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .privacy-scroll-content {
      overflow-y: auto;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    h1 {
      text-align: center;
      width: 100%;
      margin-top: 0;
      font-size: 46px;
      font-weight: 700;
      color: rgba(68, 77, 242, 1);
    }

    h2,
    h3,
    h4 {
      font-size: 16px;
      font-weight: bold;
      color: rgba(68, 77, 242, 1);
    }

    .arrow-back {
      position: absolute;
      left: 6%;
      top: 7%;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      padding: 8px;
      background-color: rgba(255, 255, 255, 1);

      &:hover {
        content: url(../../assets/signup/arrow-back-hover.png);
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: rgba(236, 238, 254, 1);
        border-radius: 100%;
      }
    }
  }

  @media (max-width: 1200px) {
    .privacy-card {
      width: 50vw !important;
      min-width: 500px !important;
      padding: 24px !important;
    }

    .privacy-content-width {
      width: 100vw !important;
    }
  }

  @media (max-width: 900px) {
    .privacy-card {
      width: 70vw !important;
      min-width: 400px !important;
      padding: 32px !important;

      h1 {
        font-size: 36px !important;
      }

      p,
      li {
        font-size: 18px !important;
      }
    }
  }

  @media (max-width: 700px) {
    .privacy-card {
      width: 55vw !important;
      min-width: 300px !important;
      padding: 16px !important;
      border-radius: 20px !important;

      h1 {
        font-size: 28px !important;
      }
    }
  }

  @media (max-width: 500px) {
    .privacy-card {
      width: calc(100vw - 64px) !important;
      border-radius: 16px !important;
      padding: 12px !important;

      h1 {
        font-size: 22px !important;
      }

      p,
      li {
        font-size: 14px !important;
      }
    }

    .arrow-back {
      width: 20px !important;
      height: 20px !important;
      padding: 6px !important;
    }
  }

  @media (max-width: 370px) {
    .privacy-card {
      border-radius: 12px !important;
      padding: 12px !important;

      h1 {
        font-size: 18px !important;
      }

      p,
      li {
        font-size: 12px !important;
      }
    }
  }
}