@import "./../../../styles.scss";

.channel-user-content {
    @include dFlex(space-between);
    flex-direction: row;
    padding: 15px 10px 15px 10px;
}

.channel-btn {
    font-family: 'nunito';
    font-size: 24px;
    font-weight: 700;
    width: 278px;
    height: 45px;
    border: none;
    background-color: transparent;
    @include dFlex();
    gap: 10px;
    transition: ease-in-out 125ms;
    &:hover {
        background-color: #ECEEFE; 
        color: #535AF1;   
        border-radius: 100px;
        .btn-img {
            background-image: url('/img/arrow_down_purple.png');   
        }
    } 
}

.btn-img {
    width: 30px;
    height: 30px;
    background-image: url('/img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.create-channel-main-content {
    width: 872px !important;
    height: 500px;
    background-color: #fff;
    @include dFlex(space-between, unset);
    flex-direction: column;
    font-family: 'nunito';
}

.create-channel-header {
     @include dFlex(space-between, center);
     font-size: 24px;
     font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.input-channel-name {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;  
    border: 1px solid #ADB0D9;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

input::placeholder {
    font-size: 18px;
    font-weight: 400;
}

input:focus {
    outline: none;
}

.margin-24 {
    margin-top: 24px;
}

.text-optional {
    color: #837c7c;
}

.mat-mdc-unelevated-button {
    width: 204px;
    height: 49px;
    background-color: #444DF2 !important; 
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 700;
}

.create-channel-btn {
    @include dFlex(end, unset);
}