.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 238, 254, 1);

  .imprint-wrapper {
    display: flex;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 1920px !important;
    height: 100%;
  }

  .imprint-card {
    position: absolute;
    width: 25vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .arrow-back {
      position: absolute;
      left: 6%;
      top: 7%;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      padding: 8px;

      &:hover {
        content: url(../../assets/signup/arrow-back-hover.png);
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: rgba(236, 238, 254, 1);
        border-radius: 100%;
      }
    }
  }
}