.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 238, 254, 1);

  .imprint-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imprint-content-width {
    width: 100%;
    max-width: 1920px !important;
    height: 100%;
  }

  .imprint-card {
    position: absolute;
    width: 25vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    z-index: 5;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .imprint-scroll-content {
      overflow-y: auto;
      border-radius: 12px;

      &::-webkit-scrollbar {
        display: none;
      }
    }


    h1 {
      text-align: center;
      width: 100%;
      margin-top: 0;
      font-size: 46px;
      font-weight: 700;
      color: rgba(68, 77, 242, 1);
    }

    p {
      strong {
        color: rgba(68, 77, 242, 1);
      }
    }

    .arrow-back {
      position: fixed;
      left: 5%;
      top: 7%;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      padding: 8px;
      background-color: rgba(255, 255, 255, 1);

      &:hover {
        content: url(../../assets/signup/arrow-back-hover.png);
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: rgba(236, 238, 254, 1);
        border-radius: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .imprint-card {
    width: 50vw !important;
    min-width: 500px;
    height: auto;
    padding: 24px;
  }
}

@media (max-width: 900px) {
  .imprint-card {
    width: 70vw !important;
    min-width: 400px;
    height: auto;
    padding: 20px;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 700px) {
  .imprint-card {
    min-width: 300px;
    padding: 16px;

    h1 {
      font-size: 36px !important;
    }
  }
}

@media (max-width: 500px) {
  .imprint-card {
    width: calc(100vw - 64px) !important;
    min-width: auto;
    padding: 12px !important;

    p {
      font-size: 14px !important;
    }

    .arrow-back {
      top: 3% !important;
      left: 3% !important;
    }
  }
}

@media (max-width: 370px) {
  .imprint-card {
    h1 {
      font-size: 24px !important;
    }

    p {
      font-size: 12px;
    }

    .arrow-back {
      top: 2% !important;
      left: 3% !important;
      width: 20px !important;
      height: 20px !important;
    }

    .imprint-scroll-content {
      border-radius: 24px;
    }
  }
}