<div class="container">
  <!-- <div class="logo-and-text">
    <img src="intro/logo.png" alt="logo">
    <p>DaBubble</p>
  </div> -->

  <div class="form-position">
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <form class="form">
      <input class="email-input" type="email" placeholder="beispielname@email.com">
      <input class="password-input" type="password" placeholder="Passwort">
    </form>

    <a href="">Passwort vergessen?</a>

    <div class="or-with-border">
      <div class="border"></div>
      <p>Oder</p>
      <div class="border"></div>
    </div>
    
    <button class="google-button">Anmelden mit Google</button>

    <div class="login-and-guest-login">
      <button class="login-button">Anmelden</button>
      <button class="guest-login-button">Gäste-Login</button>
    </div>
  </div>
</div>