<div class="sidenav-wrapper">
    <button class="sidenav-toggle-btn" mat-icon-button (click)="toggleDrawer(drawer)">
        <span>
            {{ isDrawerOpen ? 'Workspace-Menü schließen' : 'Workspace-Menü öffnen' }}
        </span>
        <img class="open-close-img" [src]="isDrawerOpen ? 'Hide-menu.png' : 'Show-menu.png'" alt="" />
    </button>

    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div class="channel-container">
                <div class="channel-logo-name">
                    <img src="devspace-logo.png" alt="">
                    <h3>Devspace</h3>
                </div>
                <div>
                    <mat-icon>edit_square_outline</mat-icon>
                </div>
            </div>
            <div class="add-channels-container">
                <div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel #myPanel="matExpansionPanel">
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    <span class="custom-arrow" [class.rotated]="myPanel.expanded">
                                        <mat-icon>arrow_right</mat-icon>
                                    </span>
                                    <mat-icon>workspaces_outline</mat-icon>
                                    Channels
                                </mat-panel-description>
                                <div class="add-icon-container">
                                    <mat-icon class="add-icon" (click)="createChannel()">add</mat-icon>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="list-channels-container" *ngIf="dataUser.showChannelByUser">
                                @for (channel of dataUser.showChannelByUser; track $index) {
                                    <div class="current-channel-name" (click)="openChannel(channel.channelname, channel.channelId, channel.description)" 
                                        [ngClass]="{'active-channel': activeChannelId === channel.channelId}">
                                        <span>#</span> 
                                        <h2>{{channel.channelname}}</h2>
                                </div>
                                }
                            </div>
                            <div>
                                <button (click)="createChannel()">
                                    <span class="add-user-channel">
                                        <mat-icon>add_circle_outline</mat-icon>
                                        Channel hinzufügen
                                    </span>
                                </button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div></div>
            </div>
            <div class="useres-list-container">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel #myPaneltwo="matExpansionPanel">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                <span class="custom-arrow" [class.rotated]="myPaneltwo.expanded">
                                        <mat-icon>arrow_right</mat-icon>
                                    </span>
                                <mat-icon>account_circle_</mat-icon>
                                Direktnachrichten
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="users-message-container">
                            @for (user of item$ | async; track user; let index = $index ) {
                            <div class="users-container" (click)="openDialog(index, user)">
                                    <!-- <img src="{{user['avatar']}}" alt=""> -->
                                    <h2>{{ user['name'] }} </h2>
                            </div>
                            }
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</div>