@use './../../../styles.scss' as *;

.example-container {
    min-height: calc(100vh - 100px);
    border-radius: 30px;
    background-color: white;
    position: relative;
}

.sidenav-toggle-btn {
    position: absolute;
    top: 50%;
    left: -140px;
    height: 56px;
    width: 339px;
    z-index: 1000;
    font-size: 20px;
    @include dFlex();
    gap: 8px;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(270deg);
}

.mat-mdc-icon-button {
    border-radius: 0;
}

.open-close-img {
    rotate: 90deg;
}

.mat-drawer {
    background-color: white;
}

.channel-container {
    @include dFlex(space-between);
    gap: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 32px;
}

.channel-logo-name {
    @include dFlex();
    gap: 15px;

    >h3 {
        font-size: 24px;
        color: black;
        cursor: default;
    }
}

mat-icon {
    color: black;
}

mat-panel-description {
    >mat-icon {
        padding-right: 10px;
        width: 22px;
    }
}

.mat-expansion-panel {
    background-color: transparent;
    border: none;
}

.mat-expansion-panel-header {
    flex-direction: row-reverse;
    gap: 15px;

    &:hover {
        mat-icon,
        .mat-expansion-panel-header-description {
            color: #535AF1;
        }

        .account-img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(68%) saturate(3151%) hue-rotate(225deg) brightness(96%) contrast(91%);
        }
    }
}

.mat-expansion-panel-header-description {
    color: black;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border: none;
    box-shadow: none;
}

::ng-deep .mat-expansion-indicator svg {
    fill: black !important;
}

::ng-deep .mat-expansion-panel-header:hover .mat-expansion-indicator svg {
    fill: #535AF1 !important;
}

::ng-deep.mat-expansion-indicator svg {
    fill: black !important;
}

button {
    background-color: transparent;
    border: none;
    @include dFlex();
    gap: 10px;

    >span {
        font-size: 18px;
    }
}

.add-channels-container {
    padding-left: 30px;
}

.add-user-channel {
    transition: all 100ms ease-in;
    @include dFlex();
    gap: 10px;

    &:hover {
        color: #535AF1;

        mat-icon {
            color: #535AF1;
        }
    }

    >mat-icon {
        transition: all 100ms ease-in;
    }

}

.list-channels-container {
    padding-bottom: 25px;

}

.current-channel-name {
    padding: 4px 20px 4px 20px;
    @include dFlex(flex-start, center);
    flex-direction: row;
    gap: 10px;

    &:hover {
        background-color: #ECEEFE;
        border-radius: 20px;

        >span,
        h2 {
            color: #535AF1;
        }
    }

    >h2,
    span {
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: 'Nunito';
        font-weight: 400;
        color: black;
        font-size: 18px;
        cursor: default;
    }
}

.useres-list-container {
    padding-left: 30px;
}

.users-message-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    gap: 15px;
}

.users-container {
    @include dFlex(flex-start);
    gap: 15px;
    position: relative;
    width: 100%;
    border-radius: 30px;

    >div {
        @include dFlex();

        >h2 {
            font-size: 18px;
            color: black;
            font-weight: 400;
            font-family: 'Nunito';
        }

        >span {
            font-size: 18px;
            color: black;
            font-weight: 400;
            font-family: 'Nunito';
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 30px;
    }
}

.active-user-channel {
    background-color: #ECEEFE;
    border-radius: 30px;

    >div {
        >h2,
        span {
            color: #535AF1;
            font-weight: bold;
        }
    }
}

.selected-user {
    cursor: pointer;
    background-color: #ECEEFE;
    border-radius: 30px;
}

.account-img {
    padding-right: 10px;
    height: 22px;
    width: 22px;
}

.avatar-small-img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.status-img {
    position: absolute;
    top: 38px;
    left: 35px;
}

.aktiv {
    >mat-icon {
        position: absolute;
        top: 38px;
        left: 35px;
        color: #92C83E;
        font-size: 16px;
        height: 16px;
        width: 16px;
        border-radius: 100%
    }
}

.inaktiv {
    @include dFlex();

    >mat-icon {
        position: absolute;
        top: 38px;
        left: 35px;
        color: #686868;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.active-channel {
    background-color: #ECEEFE;
    border-radius: 20px;

    >span,
    h2 {
        color: #535AF1;
    }
}