@use './../../../styles.scss' as *;

p {
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Nunito';
}

::ng-deep.mat-mdc-dialog-surface {
    background-color: white !important;
    width: 500px;
}

::ng-deep.cdk-global-overlay-wrapper {
    max-width: 1920px;
}

.header-container {
    @include dFlex(space-between);
    padding: 40px;

    >p {
        font-size: 24px;
        font-weight: 700;
    }

    >button {
        background-color: unset;
        border: none;
        border-radius: 50%;

        &:hover {
            padding: 5px;
            color: #535AF1;
            background-color: #ECEEFE;
        }
    }
}

.user-avatar {
    @include dFlex();

    >img {
        height: 200px;
        width: 200px;
    }
}

.user-name-aktiv-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    padding: 40px 45px;

    >.user-name {
        @include dFlex(space-between);
        width: 100%;

        >h3 {
            font-size: 32px;
            font-weight: 700;
            font-family: 'Nunito';
            margin-block-start: 0;
            margin-block-end: 0;
        }

        >span {
            color: #535AF1;
            font-size: 18px;
            font-family: 'Nunito';
            cursor: pointer;
        }
    }

    >.aktiv {
        @include dFlex();
    }

}

.email-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 45px;

    >div {
        @include dFlex();
        flex-direction: row;

        >mat-icon {
            padding-right: 15px;
        }
    }
}

.email-adress {
    >a {
        padding-top: 15px;
        padding-left: 40px;
    }
}

.button-container {
    @include dFlex();
    padding-bottom: 40px;

    >button {
        @include dFlex();
        gap: 10px;
        background-color: #444DF2;
        border: none;
        border-radius: 30px;
        color: white;
        padding: 12px 25px;
    }
}

.aktiv {
    >p {
        color: #92C83E;
        font-size: 20px;
        padding-left: 15px;
    }

    >mat-icon {
        color: #92C83E;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.inaktiv {
    @include dFlex();

    >p {
        color: #686868;
        font-size: 20px;
        padding-left: 15px;
    }

    >mat-icon {
        color: #686868;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.active {
    display: none;
}

.user-change-name-container {
    @include dFlex();
    width: 100%;

    >div {
        @include dFlex();
        flex-direction: column;
        width: 100%;
        padding: 0px 40px;

        >.buttons-container {
            @include dFlex();
            gap: 32px;
            padding-top: 45px;
            padding-bottom: 40px;

            >button {
                background-color: #444DF2;
                border: none;
                border-radius: 30px;
                color: white;
                padding: 12px 25px;
            }

            >.discard-btn {
                background-color: white;
                color: #797EF3;
                border: 1px solid #797EF3;
            }
        }

        >div {
            width: 100%;

            >input {
                width: 100%;
                height: 52px;
                border-radius: 30px;
                border: 1px solid #ADB0D9;
                padding-left: 20px;
                font-size: 18px;
                color: #686868;

                &:focus {
                    outline: none;
                    border: 2px solid #ADB0D9;
                }
            }
        }
    }

}

.input-title {
    @include dFlex(flex-start, center);
    gap: 20px;
    padding-top: 48px;
    padding-bottom: 7px;

    >h2 {
        font-size: 20px;
        font-family: 'Nunito';
        font-weight: 700;
    }
}

.avatar-img {
    border-radius: 50%;
}