@use './../../../styles.scss' as *;

p {
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Nunito';
}

::ng-deep.mat-mdc-dialog-surface {
    background-color: white !important;
    width: 500px;
}

.header-container {
    @include dFlex(space-between);
    padding: 40px;

    >p {
        font-size: 24px;
        font-weight: 700;
    }

    >button {
        background-color: unset;
        border: none;
        border-radius: 50%;

        &:hover {
            padding: 5px;
            color: #535AF1;
            background-color: #ECEEFE;
        }
    }
}

.user-avatar {
    @include dFlex();
    width: 100%;
    height: 200px;

    >img {
        height: 200px;
        width: 200px;
    }
}

.avatar-list-text {
    display: flex;
    flex-direction: column;
    margin: 24px 0;

    p {
        padding-left: 40px;
    }

    .avatar-list-imgs {
        display: flex;
        justify-content: space-between;
        padding-right: 40px;

        img {
            cursor: pointer;
            border: 4px solid transparent;
            border-radius: 100%;
            width: 48px;
            height: 48px;

            &:hover {
                border: 4px solid rgba(230, 230, 230, 1);
                transform: scale(1.05);
            }
        }
    }
}

.user-name-online-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    padding: 40px 45px;
    >.user-name {
        @include dFlex(space-between);
        width: 100%;
        gap: 15px;
        >h3 {
            font-size: 32px;
            font-weight: 700;
            font-family: 'Nunito';
            margin-block-start: 0;
            margin-block-end: 0;
            cursor: default;
        }

        >span {
            color: #535AF1;
            font-size: 18px;
            font-family: 'Nunito';
            cursor: pointer;

            &:hover {
                font-weight: bold;
            }
        }
    }

    >.online {
        @include dFlex();
    }

}

.email-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 45px;

    >div {
        @include dFlex();
        flex-direction: row;

        >mat-icon {
            padding-right: 15px;
        }
    }
}

.email-adress {
    >a {
        padding-top: 15px;
        padding-left: 40px;

        &:hover {
            font-weight: bold;
        }
    }
}

.button-container {
    @include dFlex();
    padding-bottom: 40px;

    >button {
        @include dFlex();
        gap: 10px;
        background-color: #444DF2;
        border: none;
        border-radius: 30px;
        color: white;
        padding: 12px 25px;

        &:hover {
            background-color: #797EF3;
        }
    }
}

.online {
    >p {
        color: #92C83E;
        font-size: 20px;
        padding-left: 15px;
    }

    >mat-icon {
        color: #92C83E;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.offline {
    @include dFlex();

    >p {
        color: #686868;
        font-size: 20px;
        padding-left: 15px;
    }

    >mat-icon {
        color: #686868;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.active {
    display: none;
}

.user-change-name-container {

    >div {
        @include dFlex(center, stretch);
        flex-direction: column;
        width: 100%;

        >.buttons-container {
            @include dFlex();
            gap: 32px;
            padding-top: 45px;
            padding-bottom: 40px;

            >button {
                background-color: #444DF2;
                border: none;
                border-radius: 30px;
                color: white;
                padding: 12px 25px;
                font-weight: 700;
            }

            >.save-btn {
                background-color: #444DF2;
                color: white;
                border: 1px solid #797EF3;

                &:hover {
                    background-color: #797EF3;
                }
            }

            >.discard-btn {
                background-color: white;
                color: #797EF3;
                border: 1px solid #797EF3;

                &:hover {
                    background-color: #444DF2;
                    color: white;
                }
            }
        }

        >div {
            padding: 0 40px;

            >input {
                width: calc(100% - 20px);
                height: 52px;
                border-radius: 30px;
                border: 1px solid #ADB0D9;
                margin-top: 8px;
                font-size: 18px;
                color: #686868;
                padding-left: 20px;

                &:focus {
                    outline: none;
                    border: 1px solid #ADB0D9;
                }
            }
        }
    }

}

.input-title {
    @include dFlex(flex-start, center);
    gap: 20px;
    padding-bottom: 7px;

    >h2 {
        font-size: 20px;
        font-family: 'Nunito';
        font-weight: 700;
    }
}

.avatar-img {
    border-radius: 50%;
}

.edit {
    @include dFlex(center, center);
}

@media(max-width: 1000px) {
    ::ng-deep.mat-mdc-dialog-surface {
        width: 100%;
    }
    .user-name-online-container {
        >.user-name {
            >span {
                @include dFlex(center, center);
                gap: 15px;
            }
        }
    }
}