<div class="sidenav-wrapper" #chatContainer (click)="hideAllEmojis()">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div>
        <div>
          <app-header-chat-section></app-header-chat-section>
        </div>
        <div class="close-button standard-transition" (click)="chatService.close()">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <div class="chat-container">
        <div #threadContainer class="thread-messages-container">
          <div *ngFor="let msg of chatService.messagesThread; let i = index">
            <div *ngIf="chatService.isFirstMessageOfDay(msg.timestamp, i, chatService.messagesThread)">
              <div class="date-divider">
                <span class="date-label">{{ chatService.getDateLabel(msg.timestamp, i, chatService.messagesThread)
                  }}</span>
              </div>
            </div>
            <div class="sent-message">
              <app-sent-message [mode]="'thread'" [chatMode]="'chats'" *ngIf="msg.senderId === channelService.currentUserId" [message]="msg"
                [index]="i" (emojiPickerRequested)="openEmojiPicker($event)">
              </app-sent-message>
            </div>
            <app-received-message [mode]="'thread'" [chatMode]="'chats'" *ngIf="msg.senderId !== channelService.currentUserId"
              [message]="msg" [index]="i" (emojiPickerRequested)="openEmojiPicker($event)">
            </app-received-message>
          </div>
        </div>
      </div>
      <div>
        <app-input-message *ngIf="!dataUser.showNewMessage" [mode]="'thread'">
        </app-input-message>
      </div>
      <div #emojiPickerThread class="emoji-mart-container" [style.display]="emojiPickerService.state.thread.visible ? 'block' : 'none'"
        [ngStyle]="{ top: emojiPickerService.state.thread.top + 'px', left: emojiPickerService.state.thread.left + 'px' }" (click)="$event.stopPropagation()">
        <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>