@use './../../styles.scss' as *;

.chat-section{
    @include dFlex(flex-start);
    flex-direction: column;
    /* max-width: 1920px; */
    gap: 12px;
    background-color: #ECEEFE;
    height: 100vh;
}