<div class="container">
  <div class="login">
    <app-header-start></app-header-start>

    <div class="form-position">
      <h1>Konto erstellen</h1>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

      <form class="form">
        <input class="name-input standard-transition" type="email" placeholder="Name und Nachname">
        <input class="email-input standard-transition" type="password" placeholder="beispielname@email.com">
        <input class="password-input standard-transition" type="password" placeholder="Passwort">
      </form>

      <a class="standard-transition" href="">Datenschutz</a>

      <button class="foreward-button standard-transition">Weiter</button>
    </div>
  </div>
</div>