<div class="container">
  <div class="login">
    <app-header-start></app-header-start>

    <div class="form-position">
      <img class="arrow-back standard-transition" routerLink="/" src="signup/arrow-back.png" alt="arrow back">

      <h1>Konto erstellen</h1>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

      <form class="form">
        <input class="name-input standard-transition" type="text" placeholder="Name und Nachname">
        <input class="email-input standard-transition" type="email" placeholder="beispielname@email.com">
        <input class="password-input standard-transition" type="password" placeholder="Passwort">
      </form>

      <div class="policy-text">
        <img src="signup/box.png" alt="box">
        <p>Ich stimme der <span class="policy">Datenschutzerklärung</span> zu.</p>
      </div>

      <div class="go-forward">
        <button class="forward-button standard-transition">Weiter</button>
      </div>
    </div>
  </div>
</div>