<div class="container">
  <div class="login">
    <header>
      <div class="logo-with-text">
        <img src="logo/logo.png" alt="">
        <p>DABubble</p>
      </div>
      <div class="signup-link">
        <p>Neu bei DABubble?</p>
        <a class="standard-transition" routerLink="/signup">Konto erstellen</a>
      </div>
    </header>

    <div class="form-position">
      <h1>Konto erstellen</h1>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

      <form class="form">
        <input class="name-input standard-transition" type="email" placeholder="Name und Nachname">
        <input class="email-input standard-transition" type="password" placeholder="beispielname@email.com">
        <input class="password-input standard-transition" type="password" placeholder="Passwort">
      </form>

      <a class="standard-transition" href="">Datenschutz</a>

      <button class="foreward-button standard-transition">Weiter</button>
    </div>
  </div>
</div>