<div class="date-divider">
    <span class="date-label">Heute</span>
</div>
<div class="users-message-container">
    <div class="message-container">
        <div>
            <img class="user-logo" src="avatar/men1.png" alt="">
        </div>
        <div class="message-info">
            <div class="user-date-container">
                <p>14:25</p>
                <span>Noah Braun</span>
            </div>
            <div class="message-content">
                <h3>Welche Version ist aktuell von Angular?</h3>
            </div>
            <div class="answer-date-container">
                <div>
                    <span>2 Antworte</span>
                    <p>Letze Antwort 14:56</p>
                </div>
            </div>
        </div>
    </div>
</div>