.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 238, 254, 1);

  .avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    width: 100%;
    max-width: 1920px !important;
    height: 100%;

    .choose-avatar {
      position: absolute;
      width: 25vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 32px;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
      border-radius: 30px;
      z-index: 5;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .arrow-back {
        position: absolute;
        left: 6%;
        top: 7%;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        padding: 8px;

        &:hover {
          content: url(../../assets/signup/arrow-back-hover.png);
          width: 24px;
          height: 24px;
          cursor: pointer;
          background-color: rgba(236, 238, 254, 1);
          border-radius: 100%;
        }
      }

      h1 {
        font-size: 46px;
        font-weight: 700;
        color: rgba(68, 77, 242, 1);
        margin-top: 0;
        text-align: center;
        width: 80%;
      }

      .img-and-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        img {
          width: 140px;
          height: 140px;
          cursor: pointer;
          border: 8px solid transparent;
          border-radius: 100%;
          // object-fit: cover;

          &:hover {
            border: 8px solid rgba(230, 230, 230, 1);
          }
        }

        h2 {
          margin: 0;
        }
      }

      .avatar-list-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px !important;

        .avatar-list-imgs {
          display: flex;
          justify-content: space-between;

          img {
            cursor: pointer;
            border: 4px solid transparent;
            border-radius: 100%;
            width: 48px;
            height: 48px;

            &:hover {
              border: 4px solid rgba(230, 230, 230, 1);
              transform: scale(1.05);
            }
          }
        }
      }

      .forward-button-postition {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }

      .forward-button {
        width: 107px;
        height: 40px;
        border-radius: 30px;
        border: none;
        font-weight: bold;
        background-color: rgb(68, 77, 242);
        color: rgb(255, 255, 255);

        &:hover:not(:disabled) {
          background-color: rgba(121, 126, 243, 1);
        }

        &:disabled {
          background-color: rgba(173, 176, 217, 1);
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 125ms ease-in-out;
}

#background-overlay.active {
  opacity: 1;
  pointer-events: all;
}

mat-dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 344px;
  height: 100px;
  border-radius: 16px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 77, 242, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 600;
}

.avatar-list-imgs {
  img.selected {
    border: 4px solid rgba(230, 230, 230, 1) !important;
    transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .avatar .choose-avatar {
    width: 50vw !important;
    min-width: 500px !important;
    height: auto !important;
    padding: 24px !important;
  }
}

@media (max-width: 900px) {
  .avatar .choose-avatar {
    width: 70vw !important;
    min-width: 400px !important;
    height: auto !important;
    padding: 20px !important;

    h1 {
      font-size: 36px !important;
    }
  }
}

@media (max-width: 700px) {
  .avatar .choose-avatar {
    width: 55vw !important;
    min-width: 300px !important;
    padding: 16px !important;

    .img-and-name img {
      width: 120px !important;
      height: 120px !important;
    }

    .avatar-list-imgs img {
      width: 40px !important;
      height: 40px !important;
    }
  }
}


@media (max-width: 500px) {
  .avatar .choose-avatar {
    width: calc(100vw - 64px) !important;
    padding: 12px !important;

    .avatar-list-imgs img {
      width: 40px !important;
      height: 40px !important;
    }
  }
}

@media (max-width: 370px) {
  .avatar .choose-avatar {
    h1 {
      font-size: 24px !important;
    }

    h2 {
      font-size: 16px !important;
    }

    p {
      font-size: 14px !important;
    }

    .avatar-list-imgs img {
      width: 36px !important;
      height: 36px !important;
    }
  }
}