@mixin dFlex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.standard-transition {
  transition: all 125ms ease-in-out;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Nunito';
}

@font-face {
  font-family: 'Nunito';
  src: url('./app/assets/fonts/Nunito-Regular.ttf');
}


.channel-dialog-container .mat-mdc-dialog-surface {
  background-color: #FFFFFF;
  padding: 25px;
  border-top-left-radius: 0;
}

.close-icon {
  padding: 5px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: all 100ms ease-in;
  @include dFlex();

  &:hover {
    padding: 5px;
    color: #535AF1;
    background-color: #ECEEFE;
    border-radius: 50%;
  }
}

.custom-menu {
  width: 872px !important;
  height: 539px !important;
  background-color: white;
  padding: 24px;
  overflow-y: auto;
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 125ms ease-in-out;
}

#background-overlay.active {
  opacity: 1;
  pointer-events: all;
}

mat-dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 344px;
  height: 100px;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(68, 77, 242, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 600;

  img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  @media (max-width: 500px) {
    width: 280px;
    height: 80px;
    font-size: 18px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}