@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@font-face {
    font-family: 'nunito';
    src: url('/fonts/Nunito-Regular.ttf');   
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.standard-transition {
    transition: all 125ms ease-in-out;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.channel-dialog-container .mat-mdc-dialog-surface {
  background-color: #FFFFFF;
  padding: 40px;
}