@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.standard-transition {
    transition: all 125ms ease-in-out;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Nunito;
}

@font-face {
    font-family: 'Nunito';
    src: url('./app/assets/fonts/Nunito-Regular.ttf');
}


.channel-dialog-container .mat-mdc-dialog-surface {
  background-color: #FFFFFF;
  padding: 40px;
}

.close-icon {
    padding: 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 100ms ease-in;
    @include dFlex();
        &:hover {
            padding: 5px;
            color: #535AF1; 
            background-color: #ECEEFE;
            border-radius: 50%;
        }
}