@import "./../../../styles.scss";

app-chat-section {
    height: 100vh;
}

.header{
    width: 100%;
    padding-top: 25px;
    @include dFlex();
}

.chat-section {
    padding: 0 20px;
    width: 100%;
    height: calc(100vh - 146px);
    background-color: white;
    border-radius: 30px;
}

.main-content {
    width: 100%;
    height: calc(100vh - 146px);
    gap: 20px;
    padding-bottom: 25px;
    position: relative;
    @include dFlex(center, flex-start);
}

.work-space-section{
    padding-left: 20px;
    height: 100%;
}

.thread-section{
    padding-right: 20px;
    height: 100%;
}