<app-header class="header"></app-header>
<div class="main-content">
    <app-work-space-section class="work-space-section"></app-work-space-section>
    <div class="chat-section">
        <div class="channel-user-content">
            @if (channels) {
                 @for (item of channels; track $index) {
                <div class="user-channel">#{{item}}</div>
            }
        }
            <div>Placeholder User Avatar</div>
        </div>
        <div></div>
        <div class="write-message-container">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Message</mat-label>
                    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
            </form>
        </div>
    </div>
    <app-thread-section class="thread-section"></app-thread-section>
</div>