<app-header class="header"></app-header>
<div class="main-content">
    <app-work-space-section class="work-space-section"></app-work-space-section>
    <div class="chat-section">
        <div class="channel-user-content">
            <div *ngIf="dataUser.showChannel" class="header-channel-content">
                <div class="button-container">
                    <button #btn class="channel-btn" (click)="openDialog(btn)">
                        <span>#</span>
                        @if (channelService.currentChannelName) {
                        <span>{{ channelService.currentChannelName }}</span>
                        } @else {
                        <span>{{ channelService.userSubcollectionChannelName }}</span>
                        }
                        <img src="/img/arrow_down.png">
                    </button>
                </div>
                <div class="user-avatar-channels">
                    @for (user of dataUser.userAvatarInChannel; track $index) {
                        <img class="avatar" [src]="'avatar/' + user">
                    }
                        <span class="number-of-users">{{ dataUser.userAvatarInChannel.length }}</span>
                        <span class="add-user-to-channel"></span>
                </div>
            </div>
            <div *ngIf="dataUser.showChatPartnerHeader" class="header-user-content">
                <div *ngIf="channelService.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user': selectedUser.userId !== channelService.currentUserId
                    }">
                    <div (click)="openUserDialog()">
                        <img class="user-logo" src="avatar/{{selectedUser.avatar}}" alt="">
                        <img class="status-img" src="{{ selectedUser.active ? onlineUser : offlineUser }}" alt="">
                        <h2>{{selectedUser.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-container" *ngIf="channelService.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user' :selectedUser.userId !== channelService.currentUserId
                    }">
            <div>
                <div *ngIf="!chatService.hasMessages" class="user-logo-name-container">
                    <div class="user-logo-big" *ngIf="selectedUser">
                        <img src="avatar/{{selectedUser.avatar}}" alt="">
                    </div>
                    <div class="user-name-container" *ngIf="selectedUser">
                        <h2>{{selectedUser.name}} <span
                                *ngIf="selectedUser.userId === channelService.currentUserId">(Du)</span>
                        </h2>
                    </div>
                </div>
                <div class="chat-info-container"
                    *ngIf="selectedUser.userId === channelService.currentUserId && !chatService.hasMessages">
                    <p>Dieser Raum ist nur für dich da.<span>
                            für dich da. Mache dir Notizen, liste deine To-dos auf oder bewahre Links
                            und
                            Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</span>
                    </p>
                </div>
                <div class="chat-info-container">
                    <p *ngIf="selectedUser.userId !== channelService.currentUserId && !chatService.hasMessages">Diese
                        Unterhaltung findet nur zwischen <span (click)="openUserDialog()">&#64;{{selectedUser.name}}
                        </span>und dir statt</p>
                </div>
                <div *ngFor="let msg of chatService.messages; let i = index">
                    <div *ngIf="chatService.isFirstMessageOfDay(msg.timestamp, i)">
                        <div class="date-divider">
                            <span class="date-label">{{ chatService.getDateLabel(msg.timestamp) }}</span>
                        </div>
                    </div>
                    <app-sent-message *ngIf="msg.senderId === channelService.currentUserId"
                        [message]="msg"></app-sent-message>

                    <app-received-message *ngIf="msg.senderId !== channelService.currentUserId"
                        [message]="msg"></app-received-message>
                </div>
            </div>
        </div>
        <div class="write-message-container">
            <form class="example-form">
                <div class="mention-container" *ngIf="showUserList || showChanelList">
                    <div *ngIf="showUserList">
                        <div class="user-list-container" *ngFor="let user of users$ | async; let index = index"
                            (click)="selecetedUserMention(user, index)">
                            <div>
                                <img class="user-logo" src="avatar/{{user.avatar}}" alt="">
                            </div>
                            <div>{{user.name}}</div>
                        </div>
                    </div>
                    <div *ngFor="let chanel of channelService.showChannelByUser$ | async;">
                        <div *ngIf="showChanelList">
                            {{chanel.channelname}}
                        </div>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Starte eine neue Nachricht</mat-label>
                    <input matInput [(ngModel)]="messageText" (input)="onInputChange()" name="message" (keyup.enter)="sendMessage()">
                    <div class="icons-container">
                        <div>
                            <div>
                                <img [src]="imgSrcReaction" (mouseover)="imgSrcReaction = 'add_reaction_color.png'"
                                    (mouseout)="imgSrcReaction = 'add reaction.png'">
                            </div>
                            <div (click)="userMention()">
                                <img [src]="imgSrcMention" (mouseover)="imgSrcMention = 'mention_color.png'"
                                    (mouseout)="imgSrcMention = 'mention.png'">
                            </div>
                        </div>
                        <div class="send-icon-container" (click)="sendMessage()">
                            <img [src]="imgSrcSend" (mouseover)="imgSrcSend = 'Send icon.png'"
                                (mouseout)="imgSrcSend = 'send.png'">
                        </div>
                    </div>
                </mat-form-field>
            </form>
        </div>
    </div>
    <app-thread-section class="thread-section"></app-thread-section>
</div>