<app-header class="header"></app-header>
<div class="main-content">
    <app-work-space-section class="work-space-section"></app-work-space-section>
    <div class="chat-section">
        <div class="channel-user-content">
            <!--             <div class="header-channel-content">
                <div class="button-container">
                    <button class="channel-btn" (click)="openDialog()">
                        <span>#</span>
                        @if (dataUser.currentChannelName) {
                        <span>{{ dataUser.currentChannelName }}</span>
                        } @else {
                        <span>{{ dataUser.userSubcollectionChannelName }}</span>
                        }
                        <img src="/img/arrow_down.png">
                    </button>
                </div>
                <div>Placeholder User Avatar</div>
            </div> -->
            <div class="header-user-content">
                <div *ngIf="dataUser.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user': selectedUser.userId !== dataUser.currentUserId
                    }">
                    <div (click)="openUserDialog()">
                        <img class="user-logo" src="avatar/{{selectedUser.avatar}}" alt="">
                        <img class="status-img" [src]="selectedUser.aktiv ? 'Online.png' : 'offline.png'" alt="">
                        <h2>{{selectedUser.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-container" *ngIf="dataUser.isChecked$ | async as selectedUser" [ngClass]="{
                'other-user': selectedUser.userId !== dataUser.currentUserId
                    }">
            <div class="user-logo-name-container">
                <div class="user-logo-big" *ngIf="selectedUser">
                    <img src="avatar/{{selectedUser.avatar}}" alt="">
                </div>
                <div class="user-name-container" *ngIf="selectedUser">
                    <h2>{{selectedUser.name}} <span *ngIf="selectedUser.userId === dataUser.currentUserId">(Du)</span>
                    </h2>
                </div>
            </div>
            <div class="chat-info-container" *ngIf="selectedUser.userId === dataUser.currentUserId">
                <p>Dieser Raum ist nur für dich da.<span>
                        für dich da. Mache dir Notizen, liste deine To-dos auf oder bewahre Links
                        und
                        Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</span></p>
            </div>
            <div class="chat-info-container" *ngIf="selectedUser.userId !== dataUser.currentUserId">
                <p>Diese Unterhaltung findet nur zwischen <span (click)="openUserDialog()">&#64;{{selectedUser.name}}
                    </span>und dir statt</p>
            </div>
<!--             <app-received-message class="chat-card"></app-received-message>
            <app-sent-message class="sent-message-component"></app-sent-message> -->
        </div>
        <div class="write-message-container">
            <form class="example-form">
                <div class="mention-container" *ngIf="showUserList || showChanelList">
                    <div *ngIf="showUserList">
                        <div class="user-list-container" *ngFor="let user of users$ | async; let index = index"
                            (click)="selecetedUserMention(user, index)">
                            <div>
                                <img class="user-logo" src="avatar/{{user.avatar}}" alt="">
                            </div>
                            <div>{{user.name}}</div>
                        </div>
                    </div>
                    <div *ngFor="let chanel of users$ | async; let index = index">
                        <div *ngIf="showChanelList">
                            {{chanel.name}}
                        </div>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Starte eine neue Nachricht</mat-label>
                    <input matInput [(ngModel)]="messageText" name="message">
                    <div class="icons-container">
                        <div>
                            <div>
                                <img [src]="imgSrcReaction" (mouseover)="imgSrcReaction = 'add_reaction_color.png'"
                                    (mouseout)="imgSrcReaction = 'add reaction.png'">
                            </div>
                            <div (click)="userMention()">
                                <img [src]="imgSrcMention" (mouseover)="imgSrcMention = 'mention_color.png'"
                                    (mouseout)="imgSrcMention = 'mention.png'">
                            </div>
                        </div>
                        <div class="send-icon-container" (click)="sendMessage(chatId, messageText, dataUser)">
                            <img [src]="imgSrcSend" (mouseover)="imgSrcSend = 'Send icon.png'"
                                (mouseout)="imgSrcSend = 'send.png'">
                        </div>
                    </div>
                </mat-form-field>
            </form>
        </div>
    </div>
    <app-thread-section class="thread-section"></app-thread-section>
</div>