@use './../../../../styles.scss' as *;

.users-in-channel-main-cont {
    height: 100%;
    @include dFlex(center, unset);
    flex-direction: column;
}

.users-in-channel {
    @include dFlex(unset, unset);
    flex-direction: column;
    gap: 13px;
    padding: 16px 8px;
    font-size: 18px;
    font-weight: 400;
}

.users-avatar-and-name {
    @include dFlex(unset, center);
    flex-direction: row;
    gap: 15px;
    &:hover {
        background-color: #ECEEFE;
        border-radius: 100px;
        cursor: pointer;
    }
}

.user-status-on-off {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 14px;
    height: 14px;
}