@use './../../../../styles.scss' as *;

.select-user-main-cont {
  @include dFlex(space-between, unset);
  flex-direction: column;
  height: 100%;
}

.selector {
  >mat-radio-group {
     @include dFlex(space-between, unset);
    flex-direction: column;
  }
}

// .mat-mdc-unelevated-button {
//     width: 125px;
//     height: 49px;
//     background-color: #444DF2 !important; 
//     color: #FFFFFF !important;
//     font-size: 18px;
//     font-weight: 700;
// }

.create-channel-btn-cont {
    @include dFlex(end, unset);
}

.create-channel-btn {
   color: whitesmoke;
    font-size: 18px;
    font-weight: 700;
    width: 125px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
}