<div class="select-user-main-cont">
    <div class="add-user-header">
        <p>Leute hinzufügen</p>
            <mat-icon class="close-icon" (click)="dialog.close()">close</mat-icon>
    </div>
    <div>
        <mat-radio-group class="selector" aria-label="Select an option">
            <mat-radio-button value="1">Alle Mitglieder von #Variable hinzufügen</mat-radio-button>
            <mat-radio-button value="2">Bestimmte leute hinzufügen</mat-radio-button>
        </mat-radio-group>
    </div>
</div>