@use './../../../../styles.scss' as *;

.select-user-main-cont {
  @include dFlex(space-between, unset);
  flex-direction: column;
  height: 100%;
}

.marg-bot {
  margin-bottom: 10px;
  color: black;
}

.selector {
  >mat-radio-group {
    font-size: 18px;
    font-weight: 400;
    @include dFlex(space-between, unset);
    flex-direction: column;
  }
  >mat-radio-button {
    font-size: 18px;
    font-weight: 400;
  }
}

.search-user-cont {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 630px;
  min-height: 55px;
  border: 1px solid #ADB0D9; 
  border-radius: 30px;
  padding: 8px 20px;
  box-sizing: border-box;
  @include dFlex(flex-start, center);
  flex-wrap: wrap;
  gap: 8px;
  &:focus-within {
    border: 1px solid #535AF1;
  }
}

.selected-users-wrapper {
  @include dFlex(flex-start, center);
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.search-user {
  flex: 1;
  min-width: 150px;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
    &::placeholder {
        font-size: 18px;
        font-weight: 400;
        color: #686868;  
    }
}

.selected-users {
  color: black;
  height: 40px;
  @include dFlex(unset, center);
  flex-direction: row;
  background: #ECEEFE;
  border-radius: 35px;
  gap: 8px;
  box-sizing: border-box;
  padding: 3px 10px 3px 3px;
  cursor: default;
  transition: background-color 125ms ease;
  
  &:hover {
    background: #DFE1FC;
  }
  
  >span {
    font-size: 16px;
    white-space: nowrap;
  }
  
  .user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .selected-user-remove-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #535AF1;
    transition: transform 125ms ease;
    
    &:hover {
      transform: scale(1.2);
      color: #797EF3;
    }
  }
}

.channel-name {
  color: #797EF3;   
}

.user-status-on-off {
    position: absolute;
    top: 40px;
    left: 35px;
    width: 14px;
    height: 14px;
}

.placeholder {
  height: 130px;
}

@media(max-width: 1000px) {
  .search-user-cont {
    width: 100%;
  }
  .select-user-main-cont {
    gap: 2px;
  }
}